{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Point</h1>

    <div class="list-group">
        <a href="{{ path('point_show', { 'id': entity.id }) }}" class="list-group-item active">
            <h4 class="list-group-item-heading">{{ entity.title }}</h4>

            <p class="list-group-item-text">{{ entity.body|raw }}</p>
        </a>
    </div>

    {% if is_granted('ROLE_USER') %}
        {{ form(delete_form) }}
    {% endif %}
{% endblock %}
