{% extends '::base.html.twig' %}

{% block body -%}

    <div class="col-xs-offset-2 col-xs-8">
        <img src="{{ asset('bundles/app/images/logowhite.png') }}" class="img-responsive" alt="Responsive image">
        </div>
    <div class="col-xs-12">
        <h1>SOME WORDS ABOUT US</h1>
        <p>
            Walking along the streets of Athens, the air filled with a sense of comfort. When an Athenian or a University of Georgia student, leaves this town the
            town never leaves them. The people of Athens love their city, but they have no way to collect the historical memories of your town. Here is a solution
            for that problem. Developed by Fall semester New Media capstone students, this app allows users to access Athens’ past through the stories and photos of
            those who live in and love Athens. Users can upload their photos of a location–like a family church–and give a story of its importance. Vintage Athens
            is dedicated to providing these experiences at the tap of a button. This is the city’s app. In the future, we envision this as something that can be
            applied to small towns nationwide.

        </p>
    </div>





{% endblock %}
