{% extends '::base.html.twig' %}

{% block body -%}

    <div class="col-xs-offset-2 col-xs-8">
        <img src="{{ asset('bundles/app/images/logowhite.png') }}" class="img-responsive" alt="Responsive image">
        </div>
    <div class="col-xs-12">
        <h1>Suggest</h1>
        <p>
            Don't see a location you're looking for or would like to give us some feedback? We'd love to hear from you! Send us an email with your suggestion on how to make our app and your experience better!


        <a href="MAILTO:vintageathensnmi@gmail.com">vintageathensnmi@gmail.com</a>

        </p>
    </div>





{% endblock %}
