{% extends '::base.html.twig' %}

{% block body -%}
    {% for entity in entities %}
        <div class="list-group">
            <a href="{{ path('location_show', { 'id': entity.id }) }}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ entity.title }}</h4>
                <p class="list-group-item-text">{{ entity.description }}</p>
            </a>
        </div>
    {% endfor %}

    <a href="{{ path('location_new') }}">
        Create a new entry xxxxx
    </a>

    {% endblock %}
