{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>
    <p>{{ entity.description }}</p>


    {% for entity in entity.points %}
        <div class="list-group">
            <a href="{{ path('point_show', { 'id': entity.id }) }}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ entity.title }}</h4>
            </a>
        </div>
    {% endfor %}
{% endblock %}
