{% extends '::base.html.twig' %}

{% block body -%}
    {% for entity in entities %}
        <div class="list-group">
            <a href="{{ path('map_show', { 'id': entity.id }) }}" class="list-group-item"  style="color: white;background-image: url('http://media.columbiamissourian.com/multimedia/2012/08/15/media/SEC_Athens_037_t_w600_h475.jpg')">
                <h4 class="list-group-item-heading" style="color: white;">{{ entity.title }}</h4>
                <p class="list-group-item-text">{{ entity.description }}</p>
            </a>
        </div>
    {% endfor %}

    <a href="{{ path('map_new') }}">
        Create a new entry
    </a>


    {% endblock %}
